<!DOCTYPE html>
<html lang="en">

<head>
  <%-
      include('partials/head.ejs')
    %>



  <script src="javascripts/utils.js"></script>
  <script src="javascripts/script.js"></script>

</head>



<body class="bg-white">

  <div class="container">

    <div class="row">

      <div class="col">

        <form id="formAddBookmark">

          <label class="sr-only" for="formAddBookmarkInputUri">Link</label>
          <input type="text" class="form-control bg-light" id="formAddBookmarkInputUri" name="uri"
            placeholder="https://steamcommunity.com/">

          <button type="button" class="btn btn-secondary btn-block" id="buttonAddBookmark">Bookmark</button>
        </form>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="container" id="bookmarksList">

      </div>
    </div>

    <template id="bookmarkCardTemplate">
      <div id="caca" class="card  text-center text-white bg-dark">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-secondary">Open</a>
        </div>
      </div>
    </template>
  </div>

</body>

</html>