<!DOCTYPE html>
<html lang="en">

<head>
    <%-
      include('partials/head.ejs')
    %>

    <script src="extLibs/webCalc/webCalc.js"></script>
    <link href="extLibs/webCalc/stylesheets/webCalc.css" rel="stylesheet">

</head>



<body class="bg-white">

    <div class="container">


        <%-
        include('partials/header.ejs')
        %>

        <% if (user) { %>

        <div class="row justify-content-center">

            <div class="col-auto">

                <table id="sheet"></table>

            </div>

        </div>

        <% } else { %>

        <%-
                include('partials/loggedOutBody.ejs')
            %>

        <%   
        }
        %>

    </div>

</body>

<% if (user) { %>

<script>

    new Sheet('#sheet', 10, 8);

</script>

<% } %>

</html>